<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	{% block meta %}<!-- block meta  -->{% endblock %}
	<title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
	<link rel="stylesheet" type="text/css" href="/static/css/uikit.min.css">
	{% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
	<nav class="uk-navbar uk-margin-bottom">
		<div class="uk-container">
			<a href="/" class="uk-navbar">Awesome</a>
			<ul class="uk-navbar-nav">
				<li><a href="/"><i class="uk-icon-button"></i> 日志</a></li>
			</ul>
			<div class="uk-navbar">
				<ul class="uk-navbar-nav">
				{% if __user__ %}
					<li class="uk-parent">
						<a href="#0"><i class="uk-icon-button"></i> {{ __user__.name }}</a>
						<div class="uk-navbar-dropdown-nav">
							<ul class="uk-navbar-nav">
								<li><a href="signout"><i class="uk-icon-button"></i> 退出登录</a></li>
							</ul>
						</div>
					</li>
				{% else %}
					<li><a href="/signin"><i class="uk-icon-button"></i> 登录</a></li>
					<li><a href="/signin"><i class="uk-icon-button"></i> 注册</a></li>
				{% endif %}
				</ul>
			</div>
		</div>	
	</nav>

	<div class="uk-container-small">
		<div class="uk-grid">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<div class="uk-margin-large-top" style="background-color: #eee; border-top: 1px solid #ccc;">
		<div class="uk-container-large">
			<div class="uk-panel uk-margin-top uk-margin-bottom">
				<p>
					<a target="_blank" href="http://www.baidu.com" class="uk-icon-button"></a>
					<a target="_blank" href="http://www.baidu.com" class="uk-icon-button"></a>
					<a target="_blank" href="http://www.baidu.com" class="uk-icon-button"></a>
					<a target="_blank" href="http://www.baidu.com" class="uk-icon-button"></a>
				</p>
			</div>
			
		</div>
	</div>
</body>
</html>